/* Designing overall page*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

/*Setting Up CSS Box Model*/
*{
	box-sizing: border-box;
	margin:0;
}

/*Setting Up Body*/
body{
  margin:0;
  line-height: 1.5;
  background-color: #b6b4b3;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-image: url('../img/aqua.jpg');
    background-size: cover;
    background-position: center;
	text-align: center;
 }
.about-section, .predators-section{
	text-align: left;
}
/*Designing Container Classes*/
  .container{
    max-width: 1170px;
    margin:auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}

/* Designing Header */
.header{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	z-index:99;
	transition: all 0.5s ease;
}

.header.fixed{
	background-color: #ffffff;
	position: fixed;
}
.header .fish-name{
	padding:0 15px;
}
.header .fish-name a{
	text-decoration: none;
	font-size: 30px;
	color:#ffffff;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing:2px;
	transition: all 0.5s ease;
}
.header.fixed .fish-name a{
	color:#000000;
}


.header .nav-toggle{
	width: 40px;
	height: 34px;
	border:1px solid #ffffff;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
	display: none;
}
.header.fixed .nav-toggle{
   border-color: #000000;
}
.header .nav-toggle span{
	height: 1px;
	display: block;
	width: 16px;
	background-color: #ffffff;
	position: relative;
	transition: all 0.5s ease;
}
.header .nav-toggle span:before,
.header .nav-toggle span:after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	height: 1px;
	width: 100%;
	background-color: #ffffff;
	transition: all 0.5s ease;
}
.header.fixed .nav-toggle span,
.header.fixed .nav-toggle span:before,
.header.fixed .nav-toggle span:after{
  background-color: #000000;
}
.header .nav-toggle span:before{
	transform:translateY(-6px);
}
.header .nav-toggle span:after{
	transform:translateY(6px);
}

.header .nav{
	padding:0 15px;
}
.header .nav ul{
	list-style: none;
	margin:0;
	padding:0;
}
.header .nav ul li{
	display: inline-block;
	margin-left: 30px;
}
.header .nav ul li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color:#ffffff;
	padding:25px 0;
	display: block;
	transition: all 0.5s ease;
}
.header.fixed .nav ul li a{
  color:#000000;
}
.header.fixed .nav ul li a:hover,
.header .nav ul li a:hover{
	color:#FF9800;
}

/* Designing Home section */
.home-section{
    min-height: 100vh;
    position: relative;
    z-index: 1;
    padding:0 15px;
}

/* Designing About section */
.about-section{
	padding:80px 0 0;
}

/* Designing Prey & Predators Section */

.predators-section{
	padding:80px 0 0;
}

/* Designing Food Section */

.gallery-section{
	padding:80px 0 0;
}

/* Designing World Count Section */

.count-section{
	padding:80px 0 0;
}

.honesty {
    margin-top: 80px;
    text-align: center;
}

.honesty ul {
    list-style: none;
}

.honesty ol {
    list-style: none;
}

.honesty a {
    color:teal;
}
h2,p{
	padding-left: 15px;
	font-weight: bold;
	color: white;
	background-color: #00000075;
}
h3{
	font-weight: bold;
	color: white;
	background-color: #00000075;
}
img{
	height: 500px;
	width: 500px;
	padding: 10px;
	transition: width 3s;
}
.gallery-section{
	display: inline-block;
	margin-left: 0px;
	justify-content: center;
	align-items: center;
}
iframe{
	height: 500px;
	width: 1000px;
	display: flex;
	margin: auto;
}
header, .home-section {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
img:hover{scale: 100px};
.myslides{
	position: absolute;
	margin-left: 100px;
}